<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Hello, this is webtoon index page</h1>
{% if webtoon_list %}
    <ul>
        {% for webtoon in webtoon_list %}
        <li>
            <a href="{% url 'webtoon:detail' webtoon.id %}">
            {{ webtoon }}
            </a>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No Webtoona are available.</p>
{% endif %}

</body>
</html>